{% load static %}
<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% block title %}My Portfolio{% endblock title %}</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
      <link rel="stylesheet" href="D:/Projects/portfolio/static/css/main.css">
      <script src="https://kit.fontawesome.com/21c8dc4323.js" crossorigin="anonymous"></script>
   </head>
   <body>
      <h1>{% block header %}{% endblock header %}</h1>
      <div class="container-fluid">
         <nav class="navbar navbar-expand-xl navbar-light bg-light shadow p-3 mb-5 bg-white rounded">
            <div class="container-fluid">
            <a class="navbar-brand" href="http://127.0.0.1:8000/">My Portfolio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark" aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse show" id="navbarDark">
               <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                  <li class="nav-item">
                     <a class="nav-link" href="http://127.0.0.1:8000/projects/">Projects</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="http://127.0.0.1:8000/blog/">Blog</a>
                  </li>
               </ul>
               <div class="d-flex justify-content-end">
                  <a href="https://vk.com/s1mpl3/">
                     <i class="fa-brands fa-vk fa-2xl" style="color: #000000;"></i>
                  </a>
                  <a href="https://github.com/veitnelve">
                     <i class="fa-brands fa-github fa-2xl" style="color: #000000;"></i>
                  </a>
                  <a href="mailto:veitnelve528@gmail.com">
                     <i class="fa-solid fa-envelope fa-2xl" style="color: #000000;"></i>
                  </a>
               </div>
            </div>
            </div>
         </nav>
      </div>
      <div class="container-fluid">
         <div>{% block page_content%}{% endblock page_content %}</div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
   </body>
</html>
